<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Публикации</title>
    <link rel="stylesheet" href="/web/css/publication.css">
    <link rel="stylesheet" href="/web/css/style.css">
</head>
<body>
    <div class="header">
        <div class="">
          <a href="/" class="logo2">На главную</a>
        </div>
        <div class="info">
          <h1>Публикации великого автора</h1>
        </div>
      </div>
      {{ if . }}
        {{ range . }}
          <h1>{{ .Title }}</h1>
          <p>{{ .Text }}</p>
        {{ end }}
      {{ else }}
        <colzag>Публикаций ещё нет</colzag>
      {{ end }}
</body>
</html>