<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Публикации</title>
    <link rel="stylesheet" href="/web/css/publication.css">
    <link rel="stylesheet" href="/web/css/text.css">
</head>
<body>
    <div class="header">
        <div class="">
          <a href="/" class="logo tet">На главную</a>
        </div>
        <div class="info">
          <h1>Публикации</h1>
        </div>
      </div>
      <div class="content">
        {{ if . }}
          {{ range . }}
            <a><h1 class="tet zagtext">{{ .Title }}</h1></a>
            <p class="pros">{{ .ID }}</p>
            <p class="tet pubtext" style="white-space: pre-line">{{ .Text }}</p>
          {{ end }}
        {{ else }}
          <p class="tet pubtext">Публикаций ещё нет</p>
        {{ end }}
      </div>
</body>
</html>